@charset "UTF-8";
/* Fuentes que se usan para todas las páginas */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap");
/*Se resetea el margin y el padding para poner manualmente los valores y así evitar problemas con los navegadores en cuanto a los valores por defecto que estos pueden asignar. Además, se asigna la declaración box-sizing: border-box para decirle al navegador que tenga en cuenta cualquier valor de border o de padding para el ancho o alto de un elemento*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  overflow-x: hidden;
}

/* Header */
/* Variables */
header {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.038438) 0%, rgba(0, 0, 0, 0.842174) 100%);
  display: flex;
  justify-content: space-around;
  padding: 22px 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  transition: 0.6s;
  /* Underline From Left */
}
header img {
  width: 150px;
  margin: 9px 25px 0;
  filter: drop-shadow(0 0 0.9rem #000);
}
header .navegation {
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  list-style: none;
  margin: 12px;
  display: flex;
}
header .navegation .logo-header-responsive {
  display: none;
}
header .navegation li a {
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
  font-size: 1.2rem;
  font-weight: 800;
  transition: 0.3s;
}
header .navegation li a:hover {
  color: #005CB4;
}
header .navegation .cart-shop {
  font-size: 1.3rem;
  color: #C9002B;
  cursor: pointer;
  position: relative;
}
header .navegation .cart-shop p {
  position: absolute;
  font-family: "Kanit", sans-serif;
  top: -6px;
  left: 5px;
  color: white;
  font-size: 1rem;
  position: absolute;
}
header .btn-close-open {
  display: none;
}
@media (max-width: 992px) {
  header .btn-close-open {
    display: block;
  }
  header .btn-close-open .menu-btn {
    padding: 10px;
    margin: 10px;
    font-size: 1.5rem;
    color: #fff;
  }
  header .navegation {
    position: fixed;
    background-color: #004b93;
    height: 100vh;
    top: 0;
    left: -100%;
    padding: 73px 40px;
    margin: 0;
    flex-direction: column;
    transition: 0.5s;
  }
  header .navegation .logo-header-responsive {
    width: 150px;
    margin: 0 25px;
    filter: drop-shadow(0.25rem -0.1rem #C9002B);
    display: block;
  }
  header .navegation li {
    margin: 30px 0;
  }
  header .navegation .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 20px 10px;
    font-size: 1.5rem;
    color: #C9002B;
  }
  header .active {
    left: 0;
  }
}
header .modal-backdrop {
  z-index: 1;
}
header .hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
header .hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #C9002B;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
header .hvr-underline-from-left:hover:before, header .hvr-underline-from-left:focus:before, header .hvr-underline-from-left:active:before {
  right: 0;
}

/* Se activa al hacer scroll*/
.scroll-down-header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #004b93;
  box-shadow: 0 6px 30px 12px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  transition: 0.6s;
}

.scroll-down-logo {
  width: 150px;
  margin: 9px 25px 0;
  filter: drop-shadow(0 0 0.3rem #C9002B);
}

/* Principal */
/* Variables */
/* Primera seccion */
.first-section {
  background-image: url("./../src/images/fondo2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  align-items: end;
  width: 100%;
  height: 100vh;
}
.first-section p {
  width: inherit;
  display: flex;
  justify-content: space-between;
  font-family: "Kanit", sans-serif;
  letter-spacing: 2px;
  margin: 0 0.5rem;
}
.first-section p h2, .first-section p h3 {
  font-style: italic;
  font-weight: 900;
  font-size: 2rem;
  background: white;
  position: relative;
  background: linear-gradient(to top, #021a4c 30%, #6f7df5 65%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 0.06rem #000);
}

/* Segunda seccion */
#second-section h3 {
  text-align: center;
  margin: 20px 0 7px;
  font-family: "Kanit", sans-serif;
  color: #fff;
  filter: drop-shadow(0.4rem -0.2rem #004b93);
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 800;
  font-style: italic;
}
#second-section .carrusel {
  margin: 5px 0 25px;
}
#second-section .carrusel .carrusel-container {
  position: relative;
}
#second-section .carrusel .carrusel-container .carrusel-left,
#second-section .carrusel .carrusel-container .carrusel-right {
  z-index: 1;
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  border: none;
  top: 50%;
  cursor: pointer;
  line-height: 40px;
  background: #fff;
  color: #C9002B;
  border-radius: 50%;
  opacity: 0.7;
  transition: all 0.35s;
}
#second-section .carrusel .carrusel-container .carrusel-left:hover,
#second-section .carrusel .carrusel-container .carrusel-right:hover {
  opacity: 1;
}
#second-section .carrusel .carrusel-container .carrusel-left {
  left: 30px;
}
#second-section .carrusel .carrusel-container .carrusel-right {
  right: 30px;
}
#second-section .carrusel .carrusel-container .carrusel-item {
  display: flex;
  flex-direction: column;
}
#second-section .carrusel .carrusel-container .carrusel-item img {
  width: 200px;
  margin: 0 auto;
  padding: 20px;
  filter: drop-shadow(0 0 0.3rem #fff);
}
#second-section .carrusel .carrusel-container .carrusel-item .product-name-carrusel {
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  font-style: italic;
  color: #fff;
  filter: drop-shadow(0 0 0.2rem #000);
  text-transform: uppercase;
}
#second-section .carrusel .carrusel-container .carrusel-item .product-price-carrusel {
  text-align: center;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  font-size: 1.5rem;
  color: #fff;
  filter: drop-shadow(0 0 0.2rem #005CB4);
}
#second-section .carrusel .carrusel-container .carrusel-item .btn-carrusel {
  background-color: #fff;
  width: 140px;
  height: 40px;
  align-self: center;
  margin: 20px 0;
  border-radius: 25px 0 25px 0;
  filter: drop-shadow(0 0 0.35rem #C9002B);
  font-family: "Kanit", sans-serif;
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s;
}
#second-section .carrusel .carrusel-container .carrusel-item .btn-carrusel:hover {
  background-color: #29bf12;
}
#second-section .carrusel .carrusel-container .carrusel-item:nth-child(1) {
  background: linear-gradient(#0065c3, #000);
}
#second-section .carrusel .carrusel-container .carrusel-item:nth-child(2) {
  background: linear-gradient(#878787, #000);
}
#second-section .carrusel .carrusel-container .carrusel-item:nth-child(3) {
  background: linear-gradient(#ff8f1c, #000);
}
#second-section .carrusel .carrusel-container .carrusel-item:nth-child(4) {
  background: linear-gradient(#878787, #000);
}
#second-section .carrusel .carrusel-container .carrusel-item:nth-child(5) {
  background: linear-gradient(#0065c3, #000);
}
#second-section .carrusel .carrusel-container .carrusel-item:nth-child(6) {
  background: linear-gradient(#bebebe, #000);
}
#second-section .carrusel .carrusel-indicators .glider-dot {
  background: #fff;
}
#second-section .carrusel .carrusel-indicators .glider-dot.active {
  background: #C9002B;
}

/* Tercera seccion */
.third-section {
  width: 100%;
  height: 100vh;
  background-image: url(./../src/images/fondo-seccion3.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

/* Cuarta seccion */
#fourth-section {
  padding: 6rem 0 4rem;
  /* Modal */
}
#fourth-section .card {
  transition: all 0.6s ease-in;
}
#fourth-section .btns-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.6rem;
  /* Background btns de filtrado */
}
#fourth-section .btns-container .btns {
  width: 30rem;
  height: 3.5rem;
  border-radius: 20px;
  background-color: #fff;
  color: #000;
  font-size: 1.3rem;
  font-weight: 700;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  transition: all 0.3s;
}
#fourth-section .btns-container .btns:hover {
  background-color: #005CB4;
  color: #fff;
}
#fourth-section .btns-container .btn-filter-active {
  background-color: #004b93;
  color: #fff;
}
#fourth-section .img-drinks {
  width: 170px;
  margin: 0 auto;
  padding: 0.65rem;
  transition: all 0.5s;
}
#fourth-section .img-drinks:hover {
  transform: scale(1.1) translateY(-35px);
}
#fourth-section .img-foods {
  width: 265px;
  margin: 0 auto;
  padding: 0.65rem;
  transition: all 0.5s;
}
#fourth-section .img-foods:hover {
  transform: scale(1.2) translateY(-65px);
}
#fourth-section .product-name-card {
  text-align: center;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
}
#fourth-section .btns-container-details {
  display: flex;
  justify-content: center;
}
#fourth-section .btn-drinks, #fourth-section .btn-foods {
  margin-top: 9px;
  width: 8rem;
  height: 2.5rem;
  background-color: #000;
  border-radius: 20px;
  transform: translateY(4px) rotateX(90deg);
  transition: all 0.3s;
}
#fourth-section .btn-details {
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}
#fourth-section .btn-details:hover {
  color: #fff;
}
#fourth-section .modal-container-drink, #fourth-section .modal-container-food {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  /* Responsive */
  /* Responsive */
}
#fourth-section .modal-container-drink .modal-drink, #fourth-section .modal-container-food .modal-drink {
  width: 70%;
  height: 70%;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  transition: transform 1s;
  transform: translatey(0);
  border-radius: 0.8rem;
}
#fourth-section .modal-container-drink .modal-food, #fourth-section .modal-container-food .modal-food {
  width: 65%;
  height: 65%;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  transition: transform 1s;
  transform: translatey(0);
  border-radius: 0.8rem;
}
@media (min-width: 320px) and (max-width: 768px) {
  #fourth-section .modal-container-drink .modal-drink, #fourth-section .modal-container-drink .modal-food, #fourth-section .modal-container-food .modal-drink, #fourth-section .modal-container-food .modal-food {
    width: 100%;
    height: 90%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #fourth-section .modal-container-drink .modal-drink, #fourth-section .modal-container-drink .modal-food, #fourth-section .modal-container-food .modal-drink, #fourth-section .modal-container-food .modal-food {
    width: 75%;
  }
}
#fourth-section .modal-container-drink .modal-close-drink, #fourth-section .modal-container-drink .modal-close-food, #fourth-section .modal-container-food .modal-close-drink, #fourth-section .modal-container-food .modal-close-food {
  transform: translateY(-200%);
}
#fourth-section .modal-container-drink .close-drink, #fourth-section .modal-container-drink .close-food, #fourth-section .modal-container-food .close-drink, #fourth-section .modal-container-food .close-food {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #000;
  line-height: 1.2rem;
  cursor: pointer;
  color: #fff;
  border-radius: 50%;
  transition: 0.3s;
}
#fourth-section .modal-container-drink .close-drink:hover, #fourth-section .modal-container-drink .close-food:hover, #fourth-section .modal-container-food .close-drink:hover, #fourth-section .modal-container-food .close-food:hover {
  background-color: #C9002B;
}
#fourth-section .modal-container-drink .modal-drink img, #fourth-section .modal-container-food .modal-drink img {
  width: 185px;
  margin: auto 20px;
}
#fourth-section .modal-container-drink .modal-food img, #fourth-section .modal-container-food .modal-food img {
  width: 280px;
  margin: auto 0;
}
#fourth-section .modal-container-drink .modal-drink-texts, #fourth-section .modal-container-drink .modal-food-texts, #fourth-section .modal-container-food .modal-drink-texts, #fourth-section .modal-container-food .modal-food-texts {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
#fourth-section .modal-container-drink .modal-drink-texts .drink-name, #fourth-section .modal-container-drink .modal-drink-texts .food-name, #fourth-section .modal-container-drink .modal-drink-texts h3, #fourth-section .modal-container-drink .modal-drink-texts h4, #fourth-section .modal-container-drink .modal-food-texts .drink-name, #fourth-section .modal-container-drink .modal-food-texts .food-name, #fourth-section .modal-container-drink .modal-food-texts h3, #fourth-section .modal-container-drink .modal-food-texts h4, #fourth-section .modal-container-food .modal-drink-texts .drink-name, #fourth-section .modal-container-food .modal-drink-texts .food-name, #fourth-section .modal-container-food .modal-drink-texts h3, #fourth-section .modal-container-food .modal-drink-texts h4, #fourth-section .modal-container-food .modal-food-texts .drink-name, #fourth-section .modal-container-food .modal-food-texts .food-name, #fourth-section .modal-container-food .modal-food-texts h3, #fourth-section .modal-container-food .modal-food-texts h4 {
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}
#fourth-section .modal-container-drink .modal-drink-texts .drink-description, #fourth-section .modal-container-drink .modal-drink-texts .food-description, #fourth-section .modal-container-drink .modal-drink-texts p, #fourth-section .modal-container-drink .modal-food-texts .drink-description, #fourth-section .modal-container-drink .modal-food-texts .food-description, #fourth-section .modal-container-drink .modal-food-texts p, #fourth-section .modal-container-food .modal-drink-texts .drink-description, #fourth-section .modal-container-food .modal-drink-texts .food-description, #fourth-section .modal-container-food .modal-drink-texts p, #fourth-section .modal-container-food .modal-food-texts .drink-description, #fourth-section .modal-container-food .modal-food-texts .food-description, #fourth-section .modal-container-food .modal-food-texts p {
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: left;
  color: #004b93;
}
#fourth-section .modal-container-drink .modal-drink-texts .drink-price, #fourth-section .modal-container-drink .modal-drink-texts .food-price, #fourth-section .modal-container-drink .modal-food-texts .drink-price, #fourth-section .modal-container-drink .modal-food-texts .food-price, #fourth-section .modal-container-food .modal-drink-texts .drink-price, #fourth-section .modal-container-food .modal-drink-texts .food-price, #fourth-section .modal-container-food .modal-food-texts .drink-price, #fourth-section .modal-container-food .modal-food-texts .food-price {
  color: #C9002B;
  text-align: center;
  font-weight: 900;
  font-size: 1.7rem;
  margin: 0;
}
#fourth-section .modal-container-drink .modal-drink-texts .buy-product-drink, #fourth-section .modal-container-drink .modal-drink-texts .buy-product-food, #fourth-section .modal-container-drink .modal-food-texts .buy-product-drink, #fourth-section .modal-container-drink .modal-food-texts .buy-product-food, #fourth-section .modal-container-food .modal-drink-texts .buy-product-drink, #fourth-section .modal-container-food .modal-drink-texts .buy-product-food, #fourth-section .modal-container-food .modal-food-texts .buy-product-drink, #fourth-section .modal-container-food .modal-food-texts .buy-product-food {
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  margin: 10px 30px 0;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: #000;
  color: #C9002B;
  transition: 0.3s;
}
#fourth-section .modal-container-drink .modal-drink-texts .buy-product-drink:hover, #fourth-section .modal-container-drink .modal-drink-texts .buy-product-food:hover, #fourth-section .modal-container-drink .modal-food-texts .buy-product-drink:hover, #fourth-section .modal-container-drink .modal-food-texts .buy-product-food:hover, #fourth-section .modal-container-food .modal-drink-texts .buy-product-drink:hover, #fourth-section .modal-container-food .modal-drink-texts .buy-product-food:hover, #fourth-section .modal-container-food .modal-food-texts .buy-product-drink:hover, #fourth-section .modal-container-food .modal-food-texts .buy-product-food:hover {
  background-color: #29bf12;
}
@media (min-width: 320px) and (max-width: 768px) {
  #fourth-section .modal-container-drink .modal-drink img, #fourth-section .modal-container-food .modal-drink img {
    width: 110px;
    margin: auto 15px;
  }
  #fourth-section .modal-container-drink .modal-food img, #fourth-section .modal-container-food .modal-food img {
    width: 165px;
    margin: auto 0;
  }
  #fourth-section .modal-container-drink .modal-drink-texts .drink-name, #fourth-section .modal-container-drink .modal-drink-texts .food-name, #fourth-section .modal-container-drink .modal-drink-texts h3, #fourth-section .modal-container-drink .modal-drink-texts h4, #fourth-section .modal-container-drink .modal-food-texts .drink-name, #fourth-section .modal-container-drink .modal-food-texts .food-name, #fourth-section .modal-container-drink .modal-food-texts h3, #fourth-section .modal-container-drink .modal-food-texts h4, #fourth-section .modal-container-food .modal-drink-texts .drink-name, #fourth-section .modal-container-food .modal-drink-texts .food-name, #fourth-section .modal-container-food .modal-drink-texts h3, #fourth-section .modal-container-food .modal-drink-texts h4, #fourth-section .modal-container-food .modal-food-texts .drink-name, #fourth-section .modal-container-food .modal-food-texts .food-name, #fourth-section .modal-container-food .modal-food-texts h3, #fourth-section .modal-container-food .modal-food-texts h4 {
    font-size: 1.1rem;
    font-weight: 800;
  }
  #fourth-section .modal-container-drink .modal-drink-texts .drink-price, #fourth-section .modal-container-drink .modal-drink-texts .food-price, #fourth-section .modal-container-drink .modal-food-texts .drink-price, #fourth-section .modal-container-drink .modal-food-texts .food-price, #fourth-section .modal-container-food .modal-drink-texts .drink-price, #fourth-section .modal-container-food .modal-drink-texts .food-price, #fourth-section .modal-container-food .modal-food-texts .drink-price, #fourth-section .modal-container-food .modal-food-texts .food-price {
    font-size: 1.2rem;
  }
  #fourth-section .modal-container-drink .modal-drink-texts .buy-product-drink, #fourth-section .modal-container-drink .modal-drink-texts .buy-product-food, #fourth-section .modal-container-drink .modal-food-texts .buy-product-drink, #fourth-section .modal-container-drink .modal-food-texts .buy-product-food, #fourth-section .modal-container-food .modal-drink-texts .buy-product-drink, #fourth-section .modal-container-food .modal-drink-texts .buy-product-food, #fourth-section .modal-container-food .modal-food-texts .buy-product-drink, #fourth-section .modal-container-food .modal-food-texts .buy-product-food {
    font-size: 1.1rem;
  }
}

/* Color del background al hacer hover (hecho desde js) */
/* Bebidas */
.color-fondo1:hover {
  transition: all 0.35s;
  background-color: #004b93;
}

.color-fondo2:hover {
  transition: all 0.35s;
  background-color: #000;
}

.color-fondo3:hover {
  transition: all 0.35s;
  background-color: #878787;
}

.color-fondo4:hover {
  transition: all 0.35s;
  background-color: #ff8f1c;
}

.color-fondo5:hover {
  transition: all 0.35s;
  background-color: #ff8f1c;
}

.color-fondo6:hover {
  transition: all 0.35s;
  background-color: #c5142f;
}

.color-fondo7:hover {
  transition: all 0.35s;
  background-color: #878787;
}

.color-fondo8:hover {
  transition: all 0.35s;
  background-color: #d02476fa;
}

.color-fondo9:hover {
  transition: all 0.35s;
  background-color: #0065c3;
}

.color-fondo10:hover {
  transition: all 0.35s;
  background-color: #bb9339;
}

.color-fondo11:hover {
  transition: all 0.35s;
  background-color: #bebebe;
}

/* Comidas */
.color-fondo-comida1:hover {
  transition: all 0.35s;
  background-color: #d21e29;
}

.color-fondo-comida2:hover {
  transition: all 0.35s;
  background-color: #ec6e12;
}

.color-fondo-comida3:hover {
  transition: all 0.35s;
  background-color: #e35111;
}

.color-fondo-comida4:hover {
  transition: all 0.35s;
  background-color: #6ea5be;
}

.color-fondo-comida5:hover {
  transition: all 0.35s;
  background-color: #5b002e;
}

.color-fondo-comida6:hover {
  transition: all 0.35s;
  background-color: #745036;
}

.color-fondo-comida7:hover {
  transition: all 0.35s;
  background-color: #e3c4ab;
}

.color-fondo-comida8:hover {
  transition: all 0.35s;
  background-color: #cf0619;
}

.color-fondo-comida9:hover {
  transition: all 0.35s;
  background-color: #898787;
}

/* Offcanvas carrito */
.offcanvas {
  background-color: #000;
}
.offcanvas .offcanvas-header {
  background-color: #004b93;
  border-bottom: 1px solid #fff;
}
.offcanvas .offcanvas-header .cart-title {
  color: #fff;
  margin: 0 auto;
  font-weight: 900;
  font-style: italic;
}
.offcanvas .offcanvas-body .product-push {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #fff;
  padding-bottom: 7px;
}
.offcanvas .offcanvas-body .product-push .product-cart-img {
  width: 70px;
}
.offcanvas .offcanvas-body .product-push .product-cart-text {
  align-items: center;
}
.offcanvas .offcanvas-body .product-push .product-cart-text .product-cart-name {
  text-align: center;
  color: #fff;
  font-weight: 800;
}
.offcanvas .offcanvas-body .product-push .product-cart-text .product-cart-price {
  color: #fff;
  text-align: center;
  font-weight: 800;
}
.offcanvas .offcanvas-body .product-push .product-cart-text .product-interaction {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.offcanvas .offcanvas-body .product-push .product-cart-text .product-interaction .more {
  color: #005CB4;
}
.offcanvas .offcanvas-body .product-push .product-cart-text .product-interaction .product-quantity {
  color: #fff;
}
.offcanvas .offcanvas-body .product-push .product-cart-text .product-interaction .minus {
  color: #005CB4;
}
.offcanvas .offcanvas-body .product-push .product-cart-text .eliminate-product {
  font-family: "Kanit", sans-serif;
  color: #fff;
}
.offcanvas .container-totals {
  display: flex;
  justify-content: space-around;
  margin: 10px 10px 0;
  color: #fff;
  border-top: 1px solid black;
}
.offcanvas .container-totals p {
  color: #fff;
  border: 1px solid #fff;
  padding: 6px;
  font-weight: 500;
}
.offcanvas .container-totals p .total-products,
.offcanvas .container-totals p .total-price {
  font-weight: 700;
  color: #fff;
}
.offcanvas .container-buttons {
  display: flex;
}
.offcanvas .container-buttons .reset-cart {
  margin: 0 auto;
  color: #fff;
  background: #004b93;
  width: 10rem;
  height: 2rem;
  border-radius: 8px;
  margin-bottom: 7px;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s;
}
.offcanvas .container-buttons .reset-cart:hover {
  background-color: #C9002B;
}
.offcanvas .container-buttons .finish-buy {
  margin: 0 auto;
  color: #fff;
  background: #004b93;
  width: 10rem;
  height: 2rem;
  border-radius: 8px;
  margin-bottom: 7px;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s;
}
.offcanvas .container-buttons .finish-buy:hover {
  background-color: #29bf12;
}

/* Formulario de compra */
#first-section-form {
  background: linear-gradient(rgba(49, 54, 53, 0.4), rgba(34, 34, 71, 0.6)), url(/src/images/fondo-formulario.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  padding: 130px 0 50px;
  font-family: "Kanit", sans-serif;
}
#first-section-form .fondo-formulario {
  background-color: #000;
  text-transform: uppercase;
  color: white;
  border-radius: 7px;
}
#first-section-form .fondo-formulario h2 {
  text-transform: uppercase;
  color: #C9002B;
}
#first-section-form .fondo-formulario input {
  border-radius: 4px;
}
#first-section-form .fondo-formulario select {
  width: 225px;
  border-radius: 3px;
}
#first-section-form .fondo-formulario .buy {
  background-color: #004b93;
  color: #fff;
  width: 220px;
  height: 40px;
  border-radius: 4px;
  transition: 0.3s;
}
#first-section-form .fondo-formulario .buy:hover {
  background-color: #29bf12;
}

/* Responsive*/
@media (max-width: 768px) {
  .first-section p {
    flex-direction: column;
    margin-bottom: 15px;
  }
  .first-section p h2, .first-section p h3 {
    font-size: 1.5rem;
    background: linear-gradient(to top, #050823 10%, #d20c1c 91%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
/* Preloader */
.loader {
  background: black;
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.efectoIcon {
  animation: rotate 0.6s infinite linear;
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
/* Footer */
/* Variables */
footer {
  background-color: #004b93;
}
footer .container-logo-contact-networks {
  padding-bottom: 0.4rem;
  border-bottom: 2px solid #fff;
  /* Underline From Left */
}
footer .container-logo-contact-networks .container-logo-footer {
  display: flex;
  align-self: center;
}
footer .container-logo-contact-networks .container-logo-footer .logo-footer {
  width: 250px;
  filter: drop-shadow(0 0 0.5rem #c9002b);
}
@media (max-width: 992px) {
  footer .container-logo-contact-networks .container-logo-footer .logo-footer {
    width: 230px;
    margin-top: 1rem;
  }
}
footer .container-logo-contact-networks .lista {
  list-style: none;
  margin: 1.7rem 0;
}
footer .container-logo-contact-networks .lista li {
  margin-top: 0.6rem;
  padding: 0.5rem;
}
footer .container-logo-contact-networks .lista li a {
  text-decoration: none;
  color: #fff;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
}
footer .container-logo-contact-networks .icons-networks a {
  margin: 0.8rem;
  color: #fff;
  font-size: 1.7rem;
  transition: 0.35s;
}
footer .container-logo-contact-networks .icons-networks a:hover {
  color: #c9002b;
}
footer .container-logo-contact-networks .hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
footer .container-logo-contact-networks .hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #c9002b;
  height: 3px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
footer .container-logo-contact-networks .hvr-underline-from-left:hover:before,
footer .container-logo-contact-networks .hvr-underline-from-left:focus:before,
footer .container-logo-contact-networks .hvr-underline-from-left:active:before {
  right: 0;
}
footer .autor {
  display: flex;
  justify-content: center;
  /* Underline From Left */
}
footer .autor .developed {
  margin: 0.4rem;
  color: #000;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
footer .autor .copyright-autor {
  margin: 0.4rem;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  text-decoration: none;
  margin-left: 0.2rem;
  color: #000;
  text-transform: uppercase;
}
footer .autor .hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
footer .autor .hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #c9002b;
  height: 3px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
footer .autor .hvr-underline-from-left:hover:before,
footer .autor .hvr-underline-from-left:focus:before,
footer .autor .hvr-underline-from-left:active:before {
  right: 0;
}

/* Responsive*/
@media (max-width: 768px) {
  footer .autor .developed {
    margin: 0.4rem 0;
  }
  footer .autor .copyright-autor {
    margin: 0.4rem 0.2rem 0;
  }
}

/*# sourceMappingURL=styles.css.map */
